version: '3.8'

services:
  backend:
    build: ./apps/backend
    ports:
      - "5000:3000" # Map host 5000 to container 3000 (Fixes frontend mismatch)
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=blog
      - DB_SSL=false
      - CORS_ALLOWED_ORIGINS=http://localhost:8080
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./apps/frontend
    ports:
      - "8080:80"
    networks:
      - app-network

  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=blog
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:


networks:
  app-network:
    driver: bridge
